/*start Volunteering*/
.volunteering{
    margin-top: 130px ;
    padding: 40px 100px 10px;
    background-image: url('../images/volunteering-page.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.main-title{
    color: var(--blue-color);
}
.form-container{
    width:90%;
}
.head p,
.form-head p{
    color: var(--blue-color);
}

.form-group label{
    color: var(--blue-color);
    font-size: 23px;
    margin-bottom: 10px;
}

.volunteering input::placeholder{
    color: #088b8b82 !important;
    font-size: 18px;
}

.volunteering input{
    border: 1px solid #088b8b6f !important;
    padding:15px 10px !important;
    border-radius: 12px !important;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    -ms-border-radius: 12px !important;
    -o-border-radius: 12px !important;
    background-color: transparent !important;
}
.volunteering select:focus,
.volunteering input:focus{
    color:var(--blue-color);
    box-shadow: none !important;
    border: 2px solid #088b8b !important;
}
.volunteering .btn{
    background-color: var(--blue-color) !important;
    color: white !important;
    font-weight: 500;
    font-size: 23px;
    padding: 10px !important;
    border-radius: 12px !important;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    -ms-border-radius: 12px !important;
    -o-border-radius: 12px !important;
}
.volunteering .btn:hover{
    box-shadow:0 0 5px #0bd6d6f8;
}
.volunteering .container{
    display: flex;
    align-items: center;
    padding:0 0 20px;
}
.volunteering .number-container .text{
    font-size: 20px;
border-right: 2px solid #088b8b;
color: #088b8b;
}

.volunteering .number-container .number{
    font-size: 20px;
color: #088b8b;
}

.volunteering .form-group select{
    border: 1px solid #088b8b6f;
    padding:12px 10px;
    color:#088b8bf1;
    background-color: transparent;
    font-size: 18px;
}
.volunteering select option:hover{
    background-color: #088b8b;
}
  /* End Volunteering */